extends layout

block content
    h1= article.title
    h5 Artikel geschrieben von #{article.author}
    p= article.body
    hr  
    .btn-toolbar(role='toolbar')
        a.btn.btn-warning(href='/article/edit/' + article._id) Ändern
        a.btn.btn-danger.delete-article(href='#', data-id=article._id) Löschen