doctype html
html
  head
    title Bassam
    link(rel='stylesheet', href='/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/styles/styles.css')

  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/') NodeJS
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/')
              | Home 
          li.nav-item
            a.nav-link(href='/articles/add') Artikel hinzufügen
          li.nav-item
            a.nav-link.disabled(href='#') Login
          li.nav-item
            a.nav-link.disabled(href='#') Registration
    .container
      block content
      br
      hr
      footer
        p Copyright &copy;
    script(src='/jquery/jquery.js')
    //- script(src='/popper/popper.js')
    script(src='/bootstrap/javascript/bootstrap.js')
    script(src='/js/main.js')
